

.coresavedschedulecommon-123-49{
position:'' ;width: 100%; height: auto;  background-color: rgba(244,244,244,1.0);top:0px; left: 0;background:''}

.group-123-50{
position:absolute ;width: 1686.0px; height: 1193.0px;  background-color: rgba(0,0,0,0.0);top:106px; left: calc( ( ( 100% - 1440px) / 2 ) + 32px);background:''}

.group-123-51{
position:absolute ;width: 1398.0419921875px; height: 1193.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;background:''}

.group-123-52{
position:absolute ;width: 1330.83837890625px; height: 732.6307373046875px;  background-color: rgba(0,0,0,0.0);top:105px; left: 34px;background:''}

.group-123-53{
position:absolute ;width: 1330.83837890625px; height: 138.6058349609375px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-123-54{
position:absolute ;width: 1194.43994140625px; height: 732.6307373046875px;  background-color: rgba(0,0,0,0.0);top:0px; left: 78px;border-radius: 5.0px;background:''}

.group-123-55{
position:absolute ;width: 80.53271484375px; height: 97.9857177734375px;  background-color: '';top:178px; left: 35px;border-radius: 5.0px;background:''}

.group-123-56{
position:absolute ;width: 1194.43994140625px; height: 732.6307373046875px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-123-57{
position:absolute ;width: 124.2705078125px; height: 706.030029296875px;  background-color: rgba(0,0,0,0.0);top:27px; left: 0px;background:''}

.text-123-58{
position: absolute;
left: 0.00634765625px;
 top: 0.1224365234375px;
 width: 124.2705078125px;
 height: 615.811767578125px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.text-123-59{
position: absolute;
left: 50.91845703125px;
 top: 34.574462890625px;
 width: 22.4013671875px;
 height: 671.578125px;
font-size: 40.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy; font-weight: 500;
}

.group-123-60{
position:absolute ;width: 221.63623046875px; height: 732.6307373046875px;  background-color: rgba(0,0,0,0.0);top:0px; left: 184px;background:''}

.text-123-61{
position: absolute;
left: 84.8212890625px;
 top: 27.0869140625px;
 width: 137.5078125px;
 height: 615.8475341796875px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-123-62{
position:absolute ;width: 43.78857421875px; height: 671.578125px;  background-color: rgba(0,0,0,0.0);top:61px; left: 131px;background:''}

.text-123-63{
position: absolute;
left: 0.66015625px;
 top: 0.656982421875px;
 width: 22.4013671875px;
 height: 671.578125px;
font-size: 40.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy; font-weight: 500;
}

.text-123-64{
position: absolute;
left: 25.10205078125px;
 top: 30.3582763671875px;
 width: 19.3466796875px;
 height: 618.7760009765625px;
font-size: 14.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy; font-weight: 300;
}

.vector-123-65{
position: absolute;left: 0.69287109375px; top: 0.6043701171875px; width: 1.0px; height: 138.6058349609375}

.group-123-66{
position:absolute ;width: 221.421875px; height: 732.5482177734375px;  background-color: rgba(0,0,0,0.0);top:0px; left: 478px;background:''}

.text-123-67{
position: absolute;
left: 80.0009765625px;
 top: 27.0760498046875px;
 width: 141.58056640625px;
 height: 615.8585205078125px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-123-68{
position:absolute ;width: 61.060546875px; height: 671.578125px;  background-color: rgba(0,0,0,0.0);top:61px; left: 119px;background:''}

.text-123-69{
position: absolute;
left: 0.71240234375px;
 top: 0.5745849609375px;
 width: 40.7294921875px;
 height: 671.578125px;
font-size: 40.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy; font-weight: 500;
}

.text-123-70{
position: absolute;
left: 42.42626953125px;
 top: 30.3583984375px;
 width: 19.3466796875px;
 height: 618.77587890625px;
font-size: 14.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy; font-weight: 300;
}

.vector-123-71{
position: absolute;left: 0.16015625px; top: 0.6043701171875px; width: 1.0px; height: 138.6058349609375}

.group-123-72{
position:absolute ;width: 208.361328125px; height: 732.5482177734375px;  background-color: rgba(0,0,0,0.0);top:0px; left: 762px;background:''}

.text-123-73{
position: absolute;
left: 83.14453125px;
 top: 27.1197509765625px;
 width: 125.2890625px;
 height: 615.81396484375px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-123-74{
position:absolute ;width: 44.802734375px; height: 671.578125px;  background-color: rgba(0,0,0,0.0);top:61px; left: 123px;background:''}

.text-123-75{
position: absolute;
left: 0.8740234375px;
 top: 0.574462890625px;
 width: 22.4013671875px;
 height: 671.578125px;
font-size: 40.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy; font-weight: 500;
}

.text-123-76{
position: absolute;
left: 25.31201171875px;
 top: 30.3582763671875px;
 width: 20.36474609375px;
 height: 618.7760009765625px;
font-size: 14.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy; font-weight: 300;
}

.vector-123-77{
position: absolute;left: 0.072265625px; top: 0.6043701171875px; width: 1.0px; height: 138.6058349609375}

.group-123-78{
position:absolute ;width: 149.8271484375px; height: 732.548095703125px;  background-color: rgba(0,0,0,0.0);top:0px; left: 1044px;background:''}

.text-123-79{
position: absolute;
left: 64.86865234375px;
 top: 27.227294921875px;
 width: 85.57763671875px;
 height: 615.7066650390625px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.text-123-80{
position: absolute;
left: 100.5068359375px;
 top: 61.574462890625px;
 width: 15.2734375px;
 height: 671.578125px;
font-size: 40.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy; font-weight: 500;
}

.vector-123-81{
position: absolute;left: 0.619140625px; top: 0.6043701171875px; width: 1.0px; height: 138.6058349609375}

.group-123-82{
position:absolute ;width: 1398.0419921875px; height: 72.60302734375px;  background-color: rgba(34,52,132,1.0);top:0px; left: 0px;background:''}

.group-123-83{
position:absolute ;width: 377.84326171875px; height: 113.7645263671875px;  background-color: rgba(0,0,0,0.0);top:23px; left: 19px;background:''}

.vector-123-84{
position: absolute;left: 0.27001953125px; top: 60.418701171875px; width: 29.630859375px; height: 53.44677734375}

.text-123-89{
position: absolute;
left: 32.93017578125px;
 top: 0.1009521484375px;
 width: 345.18310546875px;
 height: 28.0511474609375px;
font-size: 16.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-123-90{
position:absolute ;width: 24.6923828125px; height: 44.5389404296875px;  background-color: rgba(0,0,0,0.0);top:87px; left: 1661px;background:''}

.vector-123-91{
position: absolute;left: 0.3076171875px; top: 0.8726806640625px; width: 24.6923828125px; height: 44.5389404296875}