<div class="coresavedschedulecommon-123-49" name="Core@saved schedule#Common">
 <div class="group-123-50" name="Group">
  <div class="group-123-51" name="Group">
  </div>
  <div class="group-123-52" name="Group">
   <div class="group-123-53" name="Group">
   </div>
   <div class="group-123-54" name="Group">
    <div class="group-123-55" name="Group">
    </div>
    <div class="group-123-56" name="Group">
     <div class="group-123-57" name="Group">
      <label class="text-123-58" type="text" value="transition scale">
       transition scale
      </label>
      <label class="text-123-59" type="text" value="3">
       3
      </label>
     </div>
     <div class="group-123-60" name="Group">
      <label class="text-123-61" type="text" value="Min shift duration">
       Min shift duration
      </label>
      <div class="group-123-62" name="Group">
       <label class="text-123-63" type="text" value="5">
        5
       </label>
       <label class="text-123-64" type="text" value="hrs">
        hrs
       </label>
      </div>
      <img class="vector-123-65" src="assets/images/Core/saved-schedulecommon/vector-123_65.svg"/>
     </div>
     <div class="group-123-66" name="Group">
      <label class="text-123-67" type="text" value="Max shift duration">
       Max shift duration
      </label>
      <div class="group-123-68" name="Group">
       <label class="text-123-69" type="text" value="10">
        10
       </label>
       <label class="text-123-70" type="text" value="hrs">
        hrs
       </label>
      </div>
      <img class="vector-123-71" src="assets/images/Core/saved-schedulecommon/vector-123_71.svg"/>
     </div>
     <div class="group-123-72" name="Group">
      <label class="text-123-73" type="text" value="Latest start time">
       Latest start time
      </label>
      <div class="group-123-74" name="Group">
       <label class="text-123-75" type="text" value="2">
        2
       </label>
       <label class="text-123-76" type="text" value="PM">
        PM
       </label>
      </div>
      <img class="vector-123-77" src="assets/images/Core/saved-schedulecommon/vector-123_77.svg"/>
     </div>
     <div class="group-123-78" name="Group">
      <label class="text-123-79" type="text" value="ratio scale">
       ratio scale
      </label>
      <label class="text-123-80" type="text" value="1">
       1
      </label>
      <img class="vector-123-81" src="assets/images/Core/saved-schedulecommon/vector-123_81.svg"/>
     </div>
    </div>
   </div>
  </div>
  <div class="group-123-82" name="Group">
  </div>
  <div class="group-123-83" name="Group">
   <img class="vector-123-84" src="assets/images/Core/saved-schedulecommon/vector-123_84.svg"/>
   <label class="text-123-89" type="text" value="Lion’s Gate Hospital: 921409198-87907">
    Lion’s Gate Hospital: 921409198-87907
   </label>
  </div>
  <div class="group-123-90" name="Group">
   <img class="vector-123-91" src="assets/images/Core/saved-schedulecommon/vector-123_91.svg"/>
  </div>
 </div>
</div>
