

.coreschedule-116-1918{
position:'' ;width: 100%; height: auto;  background-color: rgba(244,244,244,1.0);top:0px; left: 0;background:''}

.group-116-2246{
position:absolute ;width: 1440.0px; height: 73.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: calc( ( ( 100% - 1440px) / 2 ) + 0px);background:''}

.group-116-2247{
position:absolute ;width: 1440.0px; height: 73.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;background:''}

.vector-116-2248{
position: absolute;left: 22.0px; top: 24.0px; width: 155.53759765625px; height: 33.975830078125}

.btn-116-2273{
position: absolute;
left: 229.0px;
 top: 18.0px;
 width: 200.0px;
 height: 35.0px;
border-radius: 2.0px; background-color: rgba(34, 52, 132, 1.0);
 cursor: pointer;
font-size: 14.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; text-transform: uppercase; font-weight: 400;
}

.group-116-2276{
position:absolute ;width: 26.66650390625px; height: 26.66668701171875px;  background-color: rgba(0,0,0,0.0);top:24px; left: 1375px;background:''}

.vector-116-2277{
position: absolute;left: 0.66650390625px; top: 0.6666259765625px; width: 26.66650390625px; height: 26.66668701171875}

.vector-116-2280{
position: absolute;left: 191.0px; top: 0.0px; width: 1.0px; height: 73.0}

.group-123-93{
position:absolute ;width: 1373.0px; height: 723.0px;  background-color: rgba(255,255,255,1.0);top:150px; left: calc( ( ( 100% - 1440px) / 2 ) + 37px);border-radius: 4.0px;background:''}