<div class="coreschedule-116-1918" name="Core@schedule">
 <div class="group-116-2246" name="Group">
  <div class="group-116-2247" name="Group">
  </div>
  <img class="vector-116-2248" src="assets/images/Core/schedule/vector-116_2248.svg"/>
  <button class="btn-116-2273" type="button">
   create new schedule
  </button>
  <div class="group-116-2276" name="Group">
   <img class="vector-116-2277" src="assets/images/Core/schedule/vector-116_2277.svg"/>
  </div>
  <img class="vector-116-2280" src="assets/images/Core/schedule/vector-116_2280.svg"/>
 </div>
 <div class="group-123-93" name="Group">
 </div>
</div>
